/* WCPHILLY 2020 ADDITIONAL CSS */

/* ----------------------------------------------- 
    TABLE OF CONTENTS
   -----------------------------------------------
    General  
    Menu Modal
    Site Header
    Entry Header
    Blog Specific
    Main Entry Content
    Footer
   ----------------------------------------------- */

/* ----------------------------------------------- */
/*	General
/* ----------------------------------------------- */

*,
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary,
.widget-content cite,
.widget-content figcaption,
.widget-content .wp-caption-text {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
}

.singular .featured-media:before {
  display: none;
}

@supports (font-variation-settings: normal) {
  .widget-content cite,
  .widget-content figcaption,
  .widget-content .wp-caption-text {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

@media (min-width: 700px) {
  h1,
  .heading-size-1 {
    color: #7a1629;
    font-size: 6rem;
  }
  h2,
  .heading-size-2 {
    font-size: 4rem;
  }
  h3,
  .heading-size-3 {
    font-size: 3.5rem;
  }
  h4,
  .heading-size-4 {
    font-size: 3rem;
  }
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
  text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  color: black;
  text-decoration: underline;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
  text-decoration: none;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: none !important;
}

/* ----------------------------------------------- */
/*	Menu Modal
/* ----------------------------------------------- */

.nav-toggle {
  bottom: 100%;
  position: absolute;
  right: 0;
  top: 3.15rem;
  width: 6.6rem;
}

.modal-menu a,
.menu-modal .toggle,
.menu-modal nav * {
  border-color: #7a1629;
  color: #7a1629;
}

.modal-menu a:hover,
.modal-menu a:focus {
  color: #7a1629;
}

@media (min-width: 700px) {
  .modal-menu ul li {
    border-left-width: 0;
  }
}

/* ----------------------------------------------- */
/*	Site Header
/* ----------------------------------------------- */

#site-header {
  background: #d4f1ff;
  z-index: 15;
}

.header-inner {
  padding: 3.15rem 0 1.5rem;
}
@media (min-width: 700px) {
  .header-inner {
    padding: 3.8rem 0 2rem;
  }
}

.site-logo img {
  max-height: 4.5rem;
}
@media (min-width: 700px) {
  .site-logo img {
    max-height: 5.5rem;
  }
}

ul.primary-menu a {
  font-weight: 500;
}

body:not(.overlay-header) .primary-menu ul {
  background: #5c111f;
  color: white;
}
body:not(.overlay-header) .primary-menu > li > ul:after {
  border-bottom-color: #5c111f;
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
body:not(.overlay-header) #site-header .toggle,
body:not(.overlay-header) .toggle-inner .toggle-text {
  color: #7a1629;
}

/* ----------------------------------------------- */
/*	Entry Header
/* ----------------------------------------------- */

.entry-header {
  position: relative;
}

.singular .entry-header {
  background: #a4cdf0
    url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wcphilly2020-pattern.svg")
    top 80px left/450px 360px repeat;
  padding: 6rem 0 12rem;
  z-index: 10;
}
@media (min-width: 700px) {
  .singular .entry-header {
    padding: 6rem 0 14rem;
  }
}

.entry-header:before {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/gradient-mask.svg")
    top left/100% no-repeat;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.entry-header:after {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wave.svg")
    bottom center/100% no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-inner.medium {
  max-width: 40rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 700px) {
  .section-inner.medium {
    max-width: 65rem;
  }
}

.singular:not(.overlay-header) .entry-header a,
.archive-header a {
  color: #7a1629;
}

body:not(.blog):not(.single-post) .entry-title {
  background: white;
  padding: 2rem 2rem;

  -webkit-box-shadow: -8px 8px 0px 0px #7a1629;
  -moz-box-shadow: -8px 8px 0px 0px #7a1629;
  box-shadow: -8px 8px 0px 0px #7a1629;
}

.entry-title,
.entry-title a {
  color: #7a1629;
}

/* ----------------------------------------------- */
/*	Blog Specific
/* ----------------------------------------------- */

.blog .entry-header:before,
.blog .entry-header:after {
  display: none;
}

.blog #site-header {
  background: #a4cdf0
    url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wcphilly2020-pattern.svg")
    top 80px left/450px 360px repeat;
  height: 220px;
}
@media (min-width: 700px) {
  .blog #site-header {
    height: 300px;
  }
}

.blog #site-header:before {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/gradient-mask-blog.svg")
    top left/cover no-repeat;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.blog #site-header:after {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wave.svg")
    bottom center/100% no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 300px;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.single-post .section-inner.medium {
  background: white;
  max-width: 80rem;
  padding: 3rem 3rem;
  position: relative;
  z-index: 10;

  -webkit-box-shadow: -8px 8px 0px 0px #7a1629;
  -moz-box-shadow: -8px 8px 0px 0px #7a1629;
  box-shadow: -8px 8px 0px 0px #7a1629;
}
@media (min-width: 700px) {
  .single-post .section-inner.medium {
    max-width: 90rem;
    padding: 5rem 5rem;
  }
}

.blog .entry-title a:hover,
.blog .entry-title a:focus {
  color: #7a1629;
}

.site-description,
.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
  color: #6d6d6d;
}

.comment-meta a:hover,
.comment-meta a:focus {
  color: inherit;
}

/* ----------------------------------------------- */
/*	Main Entry Content
/* ----------------------------------------------- */

.wp-block-pullquote:before,
blockquote,
.entry-content .border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus,
.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
.is-style-outline .wp-block-button__link:not(.has-text-color) a {
  color: #1c547f;
}

button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
  background-color: #1c547f;
}

button:not(.toggle):hover,
.button .faux-button:hover,
.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.bg-accent:hover,
.bg-accent-hover:hover,
:root .has-accent-background-color:hover,
.comment-reply-link:hover,
button:not(.toggle):focus,
.button .faux-button:focus,
.wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.bg-accent:focus,
.bg-accent-hover:focus,
:root .has-accent-background-color:focus,
.comment-reply-link:focus {
  background-color: #2a6f9e;
}

blockquote,
.border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus {
  border-color: #34678d;
}

a {
  color: #1c547f;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #34678d;
}

/* ----------------------------------------------- */
/*	Footer
/* ----------------------------------------------- */

.footer-nav-widgets-wrapper {
  background-color: #450c17;
  color: white;
}

.footer-widgets-outer-wrapper {
  border-color: transparent;
}
@media (min-width: 700px) {
  .footer-widgets-outer-wrapper {
    padding: 4rem 0;
  }
}

.footer-nav-widgets-wrapper button,
.footer-nav-widgets-wrapper .button,
.footer-nav-widgets-wrapper .faux-button,
.footer-nav-widgets-wrapper
  .wp-block-button:not(.is-style-outline)
  .wp-block-button__link,
.footer-nav-widgets-wrapper .wp-block-file__button,
.footer-nav-widgets-wrapper input[type="button"],
.footer-nav-widgets-wrapper input[type="reset"],
.footer-nav-widgets-wrapper input[type="submit"] {
  background-color: #7a1629;
  border: solid 1px #e8bfc7;
  color: white;
}

.footer-nav-widgets-wrapper button:not(.toggle):hover,
.footer-nav-widgets-wrapper
  button:not(.toggle):focus
  .search-form
  .search-submit:focus,
.search-form .search-submit:hover {
  background-color: #89283f;
}

.footer-menu a,
.footer-widgets a {
  color: #c0e1f9;
}

.jetpack_widget_social_icons svg {
  color: #c0e1f9 !important;
  fill: #c0e1f9 !important;
  height: inherit;
  vertical-align: middle;
  width: inherit;
}

#site-footer {
  background-color: #7a1629;
  border-color: transparent;
  color: white;
  padding: 1.5rem 0;
}
@media (min-width: 700px) {
  #site-footer {
    padding: 1.5rem 0;
  }
}

#site-footer a {
  color: white;
}

.powered-by-wordpress a,
a.to-the-top {
  font-weight: normal;
}

/* ----------------------------------------------- */
/*	Sponsors
/* ----------------------------------------------- */

.wcb_widget_sponsors .sponsor-logo img {
  max-height: 80px !important;
  margin: 0 auto;
}

.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsor-level a.sponsor-logo {
  max-width: 47%;
  min-width: 47%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  align-items: center;
  max-height: 90px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sponsor-level a.sponsor-logo:hover,
.sponsor-level a.sponsor-logo:focus {
  opacity: 0.9;
}

.sponsor-level-title {
  flex-basis: 100%;
}

.sponsor-level.silver .sponsor-level-title,
.sponsor-level.bronze .sponsor-level-title {
  margin-top: 2rem;
}
