/* WCPHILLY 2020 ADDITIONAL CSS */

/* ----------------------------------------------- 
    TABLE OF CONTENTS
   -----------------------------------------------
    Colors 
    General  
    Menu Modal
    Site Header
    Entry/Singular/Archive Headers
    Blog Specific
    Main Entry Content
    Organizers/Attendees
    Sponsors
    Footers
   ----------------------------------------------- */

/* ----------------------------------------------- 
    Colors
   -----------------------------------------------
    #d4f1ff   Lightest Blue
    #c0e1f9   Lighter Blue
    #a4cdf0   Light Blue
    #267cb5   Medium Blue
    #1c547f   Dark Blue
    #e8bfc7   Pink
    #930635   Maroon
    #770f31   Dark Maroon
    #450c17   Eggplant
    #6d6d6d   Gray 
   ----------------------------------------------- */

/* ----------------------------------------------- */
/*	General
/* ----------------------------------------------- */

/* Fonts */
*,
.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.widget-content .rssSummary,
.widget-content cite,
.widget-content figcaption,
.widget-content .wp-caption-text {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
}

@supports (font-variation-settings: normal) {
  .widget-content cite,
  .widget-content figcaption,
  .widget-content .wp-caption-text {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
}

@media (min-width: 700px) {
  h1,
  .heading-size-1 {
    font-size: 6rem;
  }
  h2,
  .heading-size-2 {
    font-size: 4.5rem;
  }
  h3,
  .heading-size-3 {
    font-size: 3.5rem;
  }
  h4,
  .heading-size-4 {
    font-size: 3rem;
  }
}

/* Focus Outline for Tab Navigation */

:focus {
  outline-color: #267cb5;
}

/* Buttons - no underline on hover */

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: none !important;
}

/* Add margin to images aligned left/right */

[class*="wp-block"]:not(.alignwide):not(.alignfull)
  [class*="__inner-container"]
  > .wp-block-image
  .alignleft {
  /*rtl:ignore*/
  margin-right: 1em;
}
@media (min-width: 660px) {
  [class*="wp-block"]:not(.alignwide):not(.alignfull)
    [class*="__inner-container"]
    > .wp-block-image
    .alignleft {
    /*rtl:ignore*/
    margin-right: 1em;
  }
}

[class*="wp-block"]:not(.alignwide):not(.alignfull)
  [class*="__inner-container"]
  > .wp-block-image
  .alignright {
  margin-left: 1em;
}
@media (min-width: 660px) {
  [class*="wp-block"]:not(.alignwide):not(.alignfull)
    [class*="__inner-container"]
    > .wp-block-image
    .alignright {
    margin-left: 1em;
  }
}

/* ----------------------------------------------- */
/*	Menu Modal
/* ----------------------------------------------- */

/* Modal Menu Toggle Position */

.nav-toggle {
  bottom: 100%;
  position: absolute;
  right: 0;
  top: 4.75rem;
  width: 6.6rem;
}

/* Modal Menu Colors */

.modal-menu a,
.menu-modal .toggle,
.menu-modal nav * {
  border-color: #930635;
  color: #930635;
}

.modal-menu a:hover,
.modal-menu a:focus {
  color: #930635;
}

/* Fix Bug in TwentyTwenty Menu Border for 700-1000px */

@media (min-width: 700px) {
  .modal-menu ul li {
    border-left-width: 0;
  }
}

/* ----------------------------------------------- */
/*	Site Header (Logo and Nav Menu)
/* ----------------------------------------------- */

/* Background and Padding */

#site-header {
  background: #d4f1ff;
  z-index: 15;
}

#site-header .header-inner {
  padding: 3.15rem 0 1.5rem;
}
@media (min-width: 700px) {
  #site-header .header-inner {
    padding: 3.8rem 0 2rem;
  }
}

/* Logo */

.site-logo img {
  max-height: 4.5rem;
}
@media (min-width: 700px) {
  .site-logo img {
    max-height: 5.5rem;
  }
}

.site-description {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* Nav Menu */

ul.primary-menu {
  font-size: 2rem;
}

ul.primary-menu a {
  font-weight: 500;
}

body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
body:not(.overlay-header) #site-header .toggle,
body:not(.overlay-header) .toggle-inner .toggle-text {
  color: #930635;
}

/* Nav Submenu Dropdown */

body:not(.overlay-header) .primary-menu ul {
  background: #770f31;
  color: white;
  z-index: 15;
}

/* Dropdown Top Arrow Color */

body:not(.overlay-header) .primary-menu > li > ul:after {
  border-bottom-color: #770f31;
}

/* ----------------------------------------------- */
/*	Entry/Singular/Archive Headers
/* ----------------------------------------------- */

/* Page/Post Title Containers
   archive = search results and category listings */

/* Must be position relative to align gradient and wave */

.entry-header,
.archive-header {
  position: relative;
}

/* Hide default background color on Featured Media */

.singular .featured-media:before {
  display: none;
}

/* Background Pattern */

.singular .entry-header,
.archive-header {
  background: #a4cdf0
    url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wcphilly2020-pattern.svg")
    top 80px left/450px 360px repeat;
  padding: 6rem 0 12rem;
  z-index: 10;
}
@media (min-width: 700px) {
  .singular .entry-header {
    padding: 6rem 0 14rem;
  }
}

/* Gradient Mask */

.entry-header:before,
.archive-header:before {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/gradient-mask.svg")
    top left/100% no-repeat;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* Wave */

.entry-header:after,
.archive-header:after {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wave-border.svg")
    bottom center/100% no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Title Box */

/* Title Width */

.singular .entry-header-inner.section-inner.medium,
.archive-header-inner.section-inner.medium {
  max-width: 40rem;
  position: relative;
  z-index: 10;
}
@media (min-width: 700px) {
  .singular .entry-header-inner.section-inner.medium,
  .archive-header-inner.section-inner.medium {
    max-width: 65rem;
  }
}

/* Title Container */

.singular .entry-header-inner.section-inner.medium,
.archive-header-inner.section-inner.medium.section-inner.medium {
  background: white;
  padding: 2rem 2rem;

  -webkit-box-shadow: -8px 8px 0px 0px #930635;
  -moz-box-shadow: -8px 8px 0px 0px #930635;
  box-shadow: -8px 8px 0px 0px #930635;
}

/* Title Colors */

.entry-title,
.entry-title a,
.entry-title a:hover,
.entry-title a:focus,
.archive-title,
.archive-title a,
.archive-title a:hover,
.archive-title a:focus,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: #930635;
}

.entry-categories,
.entry-categories a,
.entry-categories a:hover {
  color: #6d6d6d;
}

/* Hide Gradient and Wave on Lists of Posts/Pages */

.archive .entry-header:before,
.archive .entry-header:after {
  display: none;
}

/* ----------------------------------------------- */
/*	Blog Specific 
/* ----------------------------------------------- */

/* Site Header Pattern (instead of in entry header) */

.blog #site-header {
  background: #a4cdf0
    url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wcphilly2020-pattern.svg")
    top 80px left/450px 360px repeat;
  height: 220px;
}
@media (min-width: 700px) {
  .blog #site-header {
    height: 300px;
  }
}

/* Gradient Mask */

.blog #site-header:before {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/gradient-mask-blog.svg")
    top left/cover no-repeat;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 100%;
  margin-top: -2px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Wave */

.blog #site-header:after {
  background: url("https://cdn.jsdelivr.net/gh/AmyEtcetera/wcphilly2020@master/images/wave-border.svg")
    bottom center/100% no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 300px;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Hide Gradient and Wave on Individual Post Titles in List */

.blog .entry-header:before,
.blog .entry-header:after {
  display: none;
}

/* Post Meta - Author, Date, Etc. */

.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
  color: #6d6d6d;
}

.comment-meta a:hover,
.comment-meta a:focus {
  color: inherit;
}

/* ----------------------------------------------- */
/*	Main Entry Content
/* ----------------------------------------------- */

/* Header Colors */

.post-inner h1,
.post-inner h2,
.post-inner h3,
.post-inner h4,
.post-inner h5,
.post-inner h6,
.post-inner .faux-heading,
.post-inner h1 a,
.post-inner h2 a,
.post-inner h3 a,
.post-inner h4 a,
.post-inner h5 a,
.post-inner h6 a,
.post-inner .faux-heading a {
  color: #930635;
  text-decoration: none;
}

.post-inner h1 a:hover,
.post-inner h2 a:hover,
.post-inner h3 a:hover,
.post-inner h4 a:hover,
.post-inner h5 a:hover,
.post-inner h6 a:hover,
.post-inner .faux-heading a:hover,
.post-inner h1 a:focus,
.post-inner h2 a:focus,
.post-inner h3 a:focus,
.post-inner h4 a:focus,
.post-inner h5 a:focus,
.post-inner h6 a:focus,
.post-inner .faux-heading a:focus {
  color: #450c17;
  text-decoration: underline;
}

/* Featured Image */

.singular .featured-media {
  margin-top: 3rem;
}
@media (min-width: 700px) {
  .singular .featured-media {
    margin-top: 3rem;
  }
}

/* Links */

a {
  color: #1c547f;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #267cb5;
}

/* Blockquotes and Drop Caps */

.wp-block-pullquote:before,
blockquote,
.entry-content .border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus,
.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter {
  color: #1c547f;
}

blockquote,
.border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus {
  border-color: #1c547f;
}

/* Background Color Applied within Post */

.post-inner .has-background-color {
  border-radius: 2rem;
}

/* Buttons */

/* Outline Only Buttons */

.wp-block-button.is-style-outline,
.is-style-outline .wp-block-button__link:not(.has-text-color) a {
  color: #930635;
}

.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.is-style-outline .wp-block-button__link:not(.has-text-color):focus {
  background-color: #930635;
  border: solid 2px #930635;
  color: white;
}

/* Solid Buttons */

button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
  background-color: #930635;
  border: solid 1px #450c17;
  color: white;
}

button:not(.toggle):hover,
.button .faux-button:hover,
.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.bg-accent:hover,
.bg-accent-hover:hover,
:root .has-accent-background-color:hover,
.comment-reply-link:hover,
button:not(.toggle):focus,
.button .faux-button:focus,
.wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.bg-accent:focus,
.bg-accent-hover:focus,
:root .has-accent-background-color:focus,
.comment-reply-link:focus {
  background-color: #770223;
  border: solid 1px #450c17;
  color: white;
}

/* ----------------------------------------------- */
/*	Organizers/Attendees
/* ----------------------------------------------- */

ul.wordcamp-organizers img,
ul.tix-attendee-list img {
  border-radius: 50%;
}

/* ----------------------------------------------- */
/*	Sponsors
/* ----------------------------------------------- */

.wcb_sponsor-template-default.single .post-meta-wrapper {
  display: none;
}

.wcb_widget_sponsors .sponsor-logo img {
  margin: 0 auto;
  max-height: 80px !important;
}

.sponsor-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsor-level a.sponsor-logo {
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.5rem;
  display: flex;
  max-height: 90px;
  max-width: 47%;
  min-width: 47%;
  margin-bottom: 20px;
  padding: 10px;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sponsor-level a.sponsor-logo:hover,
.sponsor-level a.sponsor-logo:focus {
  opacity: 0.9;
}

.sponsor-level-title {
  flex-basis: 100%;
}

.sponsor-level.silver .sponsor-level-title,
.sponsor-level.bronze .sponsor-level-title {
  margin-top: 2rem;
}

/* ----------------------------------------------- */
/*	Footers
/* ----------------------------------------------- */

/* Top Footer */

.footer-nav-widgets-wrapper {
  background-color: #450c17;
  color: white;
}

.footer-widgets-outer-wrapper {
  border-color: transparent;
}
@media (min-width: 700px) {
  .footer-widgets-outer-wrapper {
    padding: 6rem 0;
  }
}

/* Increase Spacing Between Widgets */

.footer-widgets .widget {
  margin-top: 5rem;
}
@media (min-width: 700px) {
  .footer-widgets .widget {
    border-top: none;
    margin-top: 6.5rem;
    padding-top: 0;
  }
}

/* Footer Links */

.footer-menu a,
.footer-widgets a {
  color: #c0e1f9;
}

/* Footer Buttons */

.footer-nav-widgets-wrapper button,
.footer-nav-widgets-wrapper .button,
.footer-nav-widgets-wrapper .faux-button,
.footer-nav-widgets-wrapper
  .wp-block-button:not(.is-style-outline)
  .wp-block-button__link,
.footer-nav-widgets-wrapper .wp-block-file__button,
.footer-nav-widgets-wrapper input[type="button"],
.footer-nav-widgets-wrapper input[type="reset"],
.footer-nav-widgets-wrapper input[type="submit"] {
  background-color: rgba(137, 40, 63, 0.8);
  border: solid 1px #e8bfc7;
  color: white;
}

.footer-nav-widgets-wrapper button:hover,
.footer-nav-widgets-wrapper .button:hover,
.footer-nav-widgets-wrapper .faux-button:hover,
.footer-nav-widgets-wrapper
  .wp-block-button:not(.is-style-outline)
  .wp-block-button__link:hover,
.footer-nav-widgets-wrapper .wp-block-file__button:hover,
.footer-nav-widgets-wrapper input[type="button"]:hover,
.footer-nav-widgets-wrapper input[type="reset"]:hover,
.footer-nav-widgets-wrapper input[type="submit"]:hover,
.footer-nav-widgets-wrapper button:focus,
.footer-nav-widgets-wrapper .button:focus,
.footer-nav-widgets-wrapper .faux-button:focus,
.footer-nav-widgets-wrapper
  .wp-block-button:not(.is-style-outline)
  .wp-block-button__link:focus,
.footer-nav-widgets-wrapper .wp-block-file__button:focus,
.footer-nav-widgets-wrapper input[type="button"]:focus,
.footer-nav-widgets-wrapper input[type="reset"]:focus,
.footer-nav-widgets-wrapper input[type="submit"]:focus {
  background-color: rgba(137, 40, 63, 0.9);
  border: solid 1px #e8bfc7;
  color: white;
}

/* Social Media Icons (FontAwesome) */

.footer-widgets i.fa:hover {
  color: #a4cdf0;
}

/* Bottom Footer (Copyright/Powered By WordPress) */

#site-footer {
  background-color: #82263b;
  border-color: trasnparent;
  color: white;
  padding: 1.5rem 0;
}
@media (min-width: 700px) {
  #site-footer {
    padding: 1.5rem 0;
  }
}

#site-footer a {
  color: white;
}

.powered-by-wordpress a,
a.to-the-top {
  font-weight: normal;
}
